<div class="table-container">

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Genero</th>
        <th>Plataformas</th>
        <th>Estatus</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Vendedor</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let juegos of listadoJuegos" (click)="juegosSeleccionada = juegos">
        <td> <strong>{{ juegos.id }}</strong> </td>
        <td> <img [src]="rutaImagen + juegos.imagen" [alt]="juegos.id"> </td>
        <td> {{ juegos.nombre }}</td>
        <td> {{ juegos.genero }}</td>
        <td> {{ juegos.plataformas }}</td>
        <td> <span class="tag">{{ juegos.estatus }}</span> </td>
        <td>{{ juegos.descripcion }}</td>
        <td>{{ juegos.precio | currency }}</td>
        <td>{{ !!juegos.vendedor ? juegos.vendedor : 'N/A' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="message" *ngIf="listadoJuegos.length === 0">
  <p>{{ cargandoJuegos ? 'Cargando...' : 'No se encontraron registros...'}}</p>
</div>


<app-detalle-juegos *ngIf="juegosSeleccionada !== null"
  [juegos]="juegosSeleccionada"
  (close)="juegosSeleccionada = null">
</app-detalle-juegos>