
<section class="welcome">
  <h1>¡Bienvenido a nuestra tienda de videojuegos!</h1>

   <img class="welcome-img" src="assets/img/welcome.png" alt="juegos">

   <p class="welcome p">
    ¿Estás buscando los mejores videojuegos para tu próxima aventura? ¡No busques más! En nuestra tienda encontrarás una amplia selección de juegos para todas las edades y gustos.
  </p>
  <p class="welcome p">
    Ya sea que seas un jugador casual o un ávido fanático de los videojuegos, tenemos algo para ti. Contamos con juegos de acción, aventura, rol, deportes, estrategia, y mucho más.
  </p>
</section>



