
$color-primary: #78c3ac;
$color-secondary: #f3979b;
$color-seccess: #57cd9d;
$color-info: #6cc3d5c8;
$color-warning: #FECE67;
$color-danger: #fe7951;
$color-not-to-white: #f5f7f6;
$color-not-to-black: #242526;
$color-black: #000000;
$color-white: #ffffff;

$background-color: #f5f7f6;
$font-family: 'Poppins', 'Patrick Hand SC', sans-serif;
$font-size: 14px;
$font-color: #000000;
$font-color-light: #ffffff;

$header-height: 125px;

$workarea-background-color: #ffffff;
$workarea-min-height: calc(100vh - 136px);
