@import 'variables';

header {
  align-items: center;
  background: $color-info;
  color: $color-white;
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-height: $header-height;
  min-height: $header-height;
  height: $header-height;
}

  nav,
  .nav-links {
    display: flex;
  }

  nav {
    justify-content: space-around;
    align-items: center;
  }

  .nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 900;
  }

  a {
    color: $color-black;
    text-decoration: none;
    text-decoration-color: $color-white;
  }

  a:hover {
    color: $color-warning;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: $color-warning;
  }

  .logo img {
    width: 120px;
  }


  @media screen and (max-width: 768px) {
    header {
      text-align: center;
      font-size: 1rem;
      line-height: 1rem;

      nav {

        li {
          margin-right: 1rem;
        }

      }
    }
  }

  @media screen and (max-width: 450px) {

    header {
      text-align: center;
      font-size: 1rem;
      line-height: 1rem;

      nav {

        ul {
          display: flex;
          flex-direction: column;
        }

        li {
          margin-right: 0;
        }

      }
    }
  }


