<header>

  <div class="app-title">
    {{ titulo | uppercase }}
  </div>

  <nav>
    <div class="logo">
      <a href="index.html" class="logo-toggle">
        <img src="assets/img/logo.png" alt="Logo Index">
      </a>
    </div>
    <div>
      <ul class="nav-links">
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/avance-obra" routerLinkActive="active">Ventas</a>
        </li>
        <li>
          <a routerLink="/inventario" routerLinkActive="active">Catálogo</a>
        </li>
      </ul>
    </div>
  </nav>

</header>

<main>

  <router-outlet></router-outlet>

</main>
